/*Character animation*/

@keyframes glowing {
    from {filter: drop-shadow(0px 0px 12px rgb(108, 167, 255));}
    to {filter: drop-shadow(0px 0px 12px rgb(15, 227, 255));}
  }

@keyframes eyes {
    0%   {height: 0px; margin-top: 5px;}
    10%  {height: 10px; margin-top: 0px;}
    20%  {height: 10px; margin-top: 0px;}
    30%  {height: 10px; margin-top: 0px;}
    40%  {height: 10px; margin-top: 0px;}
    50%  {height: 10px; margin-top: 0px;}
    60%  {height: 10px; margin-top: 0px;}
    70%  {height: 10px; margin-top: 0px;}
    80%  {height: 10px; margin-top: 0px;}
    90%  {height: 10px; margin-top: 0px;}
    100% {height: 0px; margin-top: 5px;}
}

@keyframes mouthzero {
  0% {
    width: 30px;
    height: 20px;
    border-radius: 80px 80px 80px 80px;
    transform: translateX(6px) translateY(-8px);
  }

  20% {
    width: 40px;
    height: 30px;
    border-radius: 80px 80px 80px 80px;
    transform: translateX(6px) translateY(-8px);
  }

  40%, 60% {
    transform: translateX(7px) translateY(-8px);
  }

  80% {
    transform: translateX(12px) translateY(-8px);
  }

  100% {
    width: 15px;
    height: 15px;
    border-radius: 80px 80px 80px 80px;
    transform: translateX(15px) translateY(-8px);
    
  }

}

@keyframes mouthone {
  0% {
    width: 50px;
    height: 20px;
    border-radius: 10px 10px 150px 150px;
  }

  20% {
    width: 15px;
    height: 15px;
    border-radius: 150px 150px 150px 150px;
    transform: translateX(35px) translateY(1px);
  }

  30% {
    transform: translateX(32px) translateY(4px);
  }

  50% {
    transform: translateX(35px) translateY(-2px);
  }
  
  70% {
    transform: translateX(32px) translateY(4px);
  }
  
  80% {
    width: 15px;
    height: 15px;
    border-radius: 150px 150px 150px 150px;
    transform: translateX(35px) translateY(1px);
  }
  
  100% {
    width: 50px;
    height: 20px;
    border-radius: 10px 10px 150px 150px;
  }

}

@keyframes mouthtwo {
  0% {
    border-radius: 10px 10px 150px 150px;
  }

  20% {
    border-radius: 50px 50px 100px 100px;
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(-3px);
  }

  80% {
    border-radius: 50px 50px 100px 100px;
    transform: translateY(-2px);
  }
  
  100% {
    border-radius: 10px 10px 150px 150px;
  }

}

/*Skills track list animation*/

@keyframes loadingbar {
  0% { background-position:0 0; }
100% { background-position:28px 0; }
}

@keyframes slide {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}