@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./animations.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 100%;
}

body {
    background: grey;
    line-height: 1.5; /* Hides overflow so the element can go beyond the viewport */
    
}

h1 {
    font-size: 4rem;
    font-weight: 400;
    background: linear-gradient(to right, #eee, #2ed5ff);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    line-height: 4rem;
}

h2 {
    font-size: 2.25rem;
    font-weight: 300;
    text-align: center;
}

h3 {
    font-size: 4rem;
    font-weight: 400;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;  
    background: linear-gradient(to right, #006891 ,  #51bfff00);
}

h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

a {
    font-size: 1.25rem;
    font-weight: 400;
    cursor:pointer;
}

button {
    cursor:pointer;
}

p {
    font-size: 1.125rem;
}

li {
    list-style-type: none;
}

/*HEADER*/

.head-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(at top center, rgba(48, 92, 158, 0.8) 2%, rgb(0, 0, 0) 35%);
    height: 60rem;
    position: relative;
}

.navegation {
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5rem 0 0.5rem 0;
    border: none;
}

.navegation a {
	position: relative;
    padding: 10px 20px;
    overflow: hidden;
    display: flex;
    gap: 10px;
    color: #cacaca;
    transition: filter 0.3s ease;
}

.navegation a:hover {
    filter: brightness(10.75) drop-shadow(0px 0px 14px #d1f6ff);
}


.navegation a:nth-child(2) {
    margin-right: 3rem;
}

.navegation a:nth-child(4) {
    margin-left: 3rem;
}

.navegation a img {
    width: 16px;
    filter: invert(83%) sepia(32%) saturate(0%) hue-rotate(162deg) brightness(97%) contrast(82%);
    transition: filter 0.3s ease;
}

.head-line {
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(rgba(14, 58, 100, 0), rgba(13, 36, 58, 0.1), rgba(0,0,0, 0));
    height: 26rem;
    width: 100%;
    max-width: 10rem;
    padding: 1rem;
    display: flex;           
    align-items: center;
    justify-content: center;     
}

.image-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 100%;
    filter: drop-shadow(0px 0px 12px rgba(84, 201, 247, 0.8));
}

.head-anima {
    z-index: 2;
    position: absolute;
    top: 16rem;
    scale: 100%;
}

.eye {
    position: absolute;
    left: 35%;
    top: 65%;
    width: 18px;
    border-radius: 10px;
    height: 10px;
    background: whitesmoke;
    margin-top: 0px;
    -webkit-animation-name: eyes;
    -webkit-animation-duration: 1s;
    animation-name: eyes;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    filter: drop-shadow(0px 0px 10px whitesmoke);
}

.eye-left {
    left: 35%;
    top: 65%;
  }

.eye-right {
    left: 60%;
    top: 65%;
}

.mouth {
    width: 50px;
    height: 20px;
    border-radius: 10px 10px 150px 150px;
    filter: drop-shadow(0px 0px 10px whitesmoke);
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(255, 255, 255);
}

.mouth-anima {
    z-index: 3;
    position: absolute;
    left: 41%;
    top: 80%;
}

.mouthzero {
    animation: mouthzero 1s;
}

.mouthone {
    animation: mouthone 1s;
}

.mouthtwo {
    animation: mouthtwo 1s;
}

.head-box {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 28rem;
    gap: 1rem;
}

.translate-btn {
    z-index: 4;
    position: absolute;
    left: calc(100% - 4.5rem);
    padding: 6px 16px;
    border-radius: 7px;
    border: 1px solid rgb(65, 185, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .translate-btn:hover {
    background: rgb(65, 185, 255);
    box-shadow: 0 0 30px 5px rgba(65, 185, 255, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  .translate-btn:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  .translate-btn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  .translate-btn:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }
  


.head-bar {
    margin-top: auto;
    filter: drop-shadow(0px -8px 12px white);
}

.head-bar img {
    overflow: hidden;
    width: 100%;
}


/*INFO*/
.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 6rem 0 15rem 0;
    gap: 5rem;
}

.profile {
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.profile h3::after {
    background: linear-gradient(to right, #0da6ff ,  #51bfff00);
}

.profile-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    gap: 2rem;
    margin: 2rem;
    
}

.profile-content p {
    border: solid 2px white;
    padding: 2rem;
    border-radius: 2rem;
    width: 100%;
    max-width: 495px;
}

.profile-content picture, .profile-content img  {
    width: 100%;
    max-width: 450px;
    max-height: 450px;
}

.skills-bar {
    background-color: #5CB1FF;
    height: 14px;
    width: 100%;
    max-width: 2560px;
    position: relative;
    top: 15rem;
    background-image:repeating-linear-gradient( -45deg, #51bfff ,  #51bfff 12px, rgba(111, 221, 255, 0.6) 10px, rgba(111, 221, 255, 0.6) 20px ); 
    animation: loadingbar .5s linear infinite; 
}

.main-skills {    
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -11.5rem;
    gap: 5rem;
}

.main-skills h4 {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 300;
}

.main-skills h4::before {
    content: '';
    width: 4rem;
    height: 0.5rem;
    margin-right: 2rem;
    background: linear-gradient(to left, #006891 ,  #51bfff00);
}

.main-skills h4::after {
    content: '';
    width: 4rem;
    height: 0.5rem;
    margin-left: 2rem   ;
    background: linear-gradient(to right, #006891 ,  #51bfff00);

}

.skills-track {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
}


.skills-track:hover .skills-list {
    animation-play-state: paused;
}

.skills-list {
    display: inline-flex;
    overflow: hidden;
    animation: slide 15s infinite linear;
}

.skills-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    gap: 1rem;
    font-weight: 500;
    scale: 100%;
}

.skills-list img {
    width: 85px;
    margin: 0 90px;
}


/*WORKS*/
.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8fbff;
    padding: 9rem 0 15rem 0;
    color: #000000;
    gap: 1.5rem;
    overflow: hidden;
}

.works h3,
.works h4 {
    color: #000000;
}
.main-works {
    display: inherit;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    width: 100%;
}

.work-element {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(at center top, #0f3044, #282829);
    width: 120px;
    height: 600px;
    border-radius: 1.5rem;
    transition: width 0.4s ease-in-out, transform 0.4s ease-in-out;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(24, 57, 97, 0.418);
    cursor: pointer;
    
    
}

.work-element:hover {
    transform: scale(0.999) ;
    box-shadow: inset 5px 5px 8px rgba(25, 90, 151, 0.411);
}

.work-name {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    position: relative;
    z-index: 1;
    font-size: 3rem;
    transform: rotateZ(-90deg);
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    translate: 0px 0px 50px;
    line-height: 3rem;
    text-align: center;
}

.work-name.active {
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}


.work-content {
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 1rem;
}

.work-content.active {
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}


.expanded { 
    width: 50%;
    
    background: radial-gradient(at center right, #e2eff7, #ebf3f7);
    box-shadow: inset 5px 5px 8px rgba(25, 90, 151, 0.411);
}

.expanded:after {     
    display: none; 
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 800px;
    margin: 2rem;
}

.content-container img {
    width: 100%;
    max-width: 760px;
    border-radius: 1rem;
    overflow: hidden;
}

.work-description {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: top;
    
}

.work-description p {
    color: #000000;
    border-left: solid 4px;
    height: 220px;
    width: 320px;
    padding-left: 1rem;
    border-image: linear-gradient(to bottom, #071d3f, rgb(62, 145, 255)) 1;
    
}

.title-buttons {
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.title-buttons h4 {
    font-size: 1.75rem;
}

.buttons-container {
    display: inherit;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.buttons-container a {
    display: flex;
    width: 100%;
    background: #e2eff7;
}

.btn-work {
    display: inline-block;
    white-space: nowrap;
    border: solid #143255 2px;
    color: #000000;
    background: transparent;
    padding: 0.8rem 3rem;
    flex: 1;
    border-radius: 1rem;
    font-size: 1.125rem;
}

.btn-work:hover {
    background-color: #143255;
    color: #e2eff7;
    transition: 0.3s ease-in-out;
}

.icons-container {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 1rem;
    border-bottom: solid 2px;
    border-width: 30%;
    padding-bottom: 0.5rem;
    border-image: linear-gradient(to right, rgb(62, 145, 255, 0.2), #071d3f) 1;
}

.icons-container img {
    width: 50px;
}

/*CONTACT*/
.contact {
    background-color: #f8fbff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 8rem 0 8rem 0;
}

.contact h3 {
    color: #000000;
}

.contact-form {
    display: inherit;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: calc(100% - 3rem);
    max-width: 36rem;
    margin: 0 3rem;
}

.contact-form label {
    color: #000000;
    padding: 20px 0 10px 0;
    font-size: 1.25rem;
    font-weight: 300;
}

.contact-element {
    border: none;
    border-bottom: black solid 2px;
    color: #000000;
    width: 100%;
    background: #f8fbff;
    font-size: 1.25rem;
}

.contact-element:focus {
    outline: none;
}

.btn-contact-submit {
    margin-top: 2rem;
    padding: 0.8rem 0.8rem;
    background-color: #3079cc;
    color: #ffffff;
    width: 100%;
    justify-self: center;
    border: none;
    border-radius: 5px;
}

.btn-contact-submit:hover {
    background-color: #5295e2;
    transition: all 0.5s ease-in-out;
}

.btn-contact-submit:active {
    background-color: #336aa8;
    transition: all 0.1s ease-in-out;
}

/*FOOTER*/

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient( #143255, #001124);
    gap: 1rem;
    padding: 2rem 0 2rem 0;
}

.footer-itens {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-media-itens {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}